<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
    <!-- <script src="bower_components/socket.io-client/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  </head>
  <body>
    <input type="text" class="message" />
    <button onclick="sendMessage()">send message</button>
    <h1>hi</h1>
    <script>
      var socket = io("http://localhost:5000");

      socket.on("connection", (socket) => {
        console.log("connected");
      });

      socket.on("message", function (data) {
        // console.log(data);
        var message = (document.querySelector("h1").innerHTML = data);
      });

      const sendMessage = () => {
        const messageipt = document.querySelector(".message");
        const mssg = messageipt.value;
        socket.emit("message", mssg);
      };
    </script>
  </body>
</html>
